.navbar-brand img{
    max-height: 40px;
}

header .row {
    /*background-color: rgb(2,0,97);*/
    background-image: url(./img/acceuil1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 70vh;
    color: yellow;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 92%);
}

.titreHaut {
    background-color: rgba(0, 0, 0, 0.226);
    min-height: 70vh;

    font-family: 'Raleway', sans-serif;
}

header h2 {
    font-family: 'Dancing Script', cursive;
    margin-bottom: 50px;
}

header .slogan {
    display: flex;
    min-height: 70vh;
    align-items: flex-end;
    justify-content: flex-end;
}

@media (max-width: 768px) {
    header .slogan {
        display: none;
    }
}

#grp .media span {
    color: black;
    font-size: 3rem;
    width: 4rem;
    text-align: center;
}

#grp .media {
    padding: 0.5rem 1rem;
    transition: all .3s ease-in-out;
    border-radius: 10px 10px;
}

#grp .media:hover {
    background-color: rgba(128, 128, 128, .5);
    
}

.storylogo {
    min-height: calc(100vh - 50px);
    background-color: #d3dae4;
    
}

.storylogo span {
    font-size: 5rem;
    color: #17a2b8;
}

.storylogo h5 {
    font-size: 2rem;
    color: #888;
}

.storylogopng {
    min-height: calc(100vh - 50px);
    background-image: url(./img/logo.PNG);
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;  

}

#coc .media span {
    color: black;
    font-size: 3rem;
    width: 4rem;
    text-align: center;
}

#coc .media {
    padding: 0.5rem 1rem;
    transition: all .3s ease-in-out;
    border-radius: 10px 10px;
}

#coc .media:hover {
    background-color: rgba(128, 128, 128, .5);   
}

#contact {
    background-image: url(./img/acceuil3.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: calc(100vh - 50px);
    text-align: center;
}

#contact .row {
    min-height: calc(100vh - 50px);
}

.formContact {
    background-color: rgba(255,255,255,.5);
    padding: 6rem;
}

footer{
    background-color: rgba(0,0,0,0.8);
    color: #999;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
}

footer .icones a {
    color: #999;
    font-size: 2rem;
    transition: all .2s ease-in-out;
}

footer .icones a:hover {
    color: #fff;
    font-size: 2.4rem;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a {
    text-decoration: underline;
}

.navbar a {
    text-decoration: none;
}

footer a {
    text-decoration: none;
}

footer .contacts a {
    color: #999;
    text-decoration: underline;
}

footer .contacts a:hover {
    text-decoration: none;
}

.email-c, .sujet-c, .message-c {
    border: #000 dashed;
    border-radius: 5px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
}

